<% if @edits.size > 1 %>
  <p>The following changes have been made to the task:</p>
  <% if @edits.any? -%>
  <ul>
  <% @edits.each do |edit| -%>
  <% partial = "task_edits/#{edit.field}_edit" -%>
    <li>
      <%= strip_links render(:partial => partial, :locals => {:edit => edit}) %>
    </li>
  <% end %>
  </ul>
  <% end -%>
<% else %>
  <% edit = @edits.first %>
  <p>
  <%= strip_links render(:partial => "task_edits/#{edit.field}_edit",
    :locals => {:edit => edit}) %>
  </p>
<% end %>

<p>
<%= link_to "View this Task", task_url(@task) %>
</p>

<p>
----<br />
<%= task_footer(@task) %>
</p>