<div id="task_news">
  <h2>Discussion & Updates</h2>
  <%= render :partial => "cc_list", :locals => {:task => task} %>
  <%= render :partial => "comments_and_edits", :locals => {:task => task} %>
</div>