<span class='cc'>
  <%= link_to_user sub.user %><%= link_to image_tag("subscription-x.gif"),
    subscription_path(sub), :method => "delete",
    :confirm => "Are you sure? #{sub.user.name} will no longer receive " +
                "emails about this task.", :class => "remove_link" %>
</span>&nbsp;
