<%= javascript_include_tag 'tasks/index' %>
<%= stylesheet_link_tag 'tasks/index' %>

<% @title = "Projects" %>
<h1><%= @title %></h1>

<% @projects.each do |project| %>
  <%= render :partial => "/projects/task_list",
             :locals => {:title       => project.title,
                         :see_all_url => project_path(project),
                         :tasks       => project.task_list.map(&:task),
                         :exclude     => [:project]} %>                       
<% end %>
