<% @title = @task.title %>
<h1><%= @title %></h1>

<% unless @task.description.blank? %>
  <h2>Description</h2>
  <%= @task.description %>
<% end %>

<p>
  <%= link_to 'Edit', edit_task_path(@task) %>
</p>
