table.task_list {
  border-collapse: collapse;
  margin: 10px 0;
  width: 760px;
}
table.task_list tbody {
  border-top: 1px solid #e9f1f5;
}
table.task_list tbody td {
  border-bottom: 1px solid #e9f1f5;
  cursor: move;
}
table.task_list td {
  padding: 5px;
  white-space: nowrap;
}
table.task_list td.add_task {
}
table.task_list td.drag_handle {
  background-color: #f3f3f3;
  text-align: center;
  padding: 0;
  width: 31px;
}
table.task_list td.task_assignee {
  width: 75px;
}
table.task_list td.task_due {
  width: 60px;
}
table.task_list td.task_estimate {
  width: 60px;
}
table.task_list td.task_name {
  width: 427px;
}
table.task_list td.task_assignee,
table.task_list td.task_estimate,
table.task_list td.task_due,
table.task_list td.task_project {
  color: #aaa;
}
table.task_list td a {
  cursor: pointer;
}
table.task_list th {
  color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
}
