#content h1 {
  font-size: 32px;
  margin-bottom: 0;
}
#content h1 span, h2 {
  display: block;
  color: #999;
  font-size: 13px;
  font-weight: normal;
}
#content h1 span {
  margin: 2px 0 6px;
}
#content h1, #description, #secondary_fields li {
  padding: 10px;
}
#content h1.task_field {
  padding-bottom: 40px;
}
h2 {
  margin-bottom: 5px;
}
#cc select,
#cc .adding .add_link {
  display: none;
}
#cc .adding select {
  display: block;
}
.edit_task input {
  display: none;
}
.edit_task.editing input {
  display: block;
}
.task_field {
  border: 1px solid #ddd;
  border-top: none;
}
#add_comment_form {
  padding: 10px 0;
}
#add_comment_form textarea {
  height: 4em;
  margin-bottom: 10px;
  width: 568px;
}
#add_comment_form .submit_bar {
  text-align: right;
}
#add_comment_form .file_field {
  float: left;
}
#cc {
  padding: 10px;
}
/* Default overrides */
#cc #cc_list .cc {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
}
#cc #cc_list .remove_link {
  color: #036;
  cursor: pointer;
  font-size: 9px;
}
#comments, #description {
  line-height: 140%;
}
#comments {
  border-top: 1px solid #ddd;
  margin-top: 1px;
  padding: 10px;
}
#comments_list li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#comments_list .delete_link {
  color: #999;
  font-size: 10px;
}
#comments_list .date {
  color: #666;
  margin-bottom: 5px;
}
#cc h2,
#comments_list .meta,
#description h2 {
  float: left;
  width: 120px;
}
#cc .text,
#comments_list .text,
#description .text {
  margin-left: 120px;
}
#comments_list .text img {
  background: #eee;
  display: block;
  margin: 10px 0;
  padding: 9px;
}
#content {
  padding-left: 0;
  padding-right: 0;
}
#description, #secondary_fields {
  border-top: none;
}
#description textarea {
  background: #e3e3e3;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 448px;
}
#description .editing textarea {
  background: #fff;
  height: 12em;
}
#primary_action {
  float: right;
}
#secondary_fields li {
  border-left: 1px solid #ddd;
  float: left;
  height: 32px;
  width: 98px;
}
#secondary_fields li:first-child {
  border-left: none;
}
#task {
  background: white;
  border-top: 1px solid #ddd;
  margin-bottom: 30px;
}
#content {
  background-image: url("../../images/task-background.gif");
  border-bottom: 1px solid #eee;
  padding: 80px 100px 100px;
  width: 600px;
}