a.complete_button {
  background: #3059ab;
  border: 1px solid #ddd;
  color: white;
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  padding: 9px 20px 7px;
  -moz-box-shadow: 0 0 2px #333;
}
.events_list li {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.events_list .taskedit {
  color: #888;
  font-size: 11px;
  padding: 8px 0 4px;
}
.events_list .taskedit .text {
  line-height: 14px;
  margin-left: 125px;
}
#add_comment_form {
  margin-left: 125px;
  padding: 10px 0;
}
#add_comment_form textarea {
  height: 6em;
  margin-bottom: 10px;
  width: 540px;
}
#add_comment_form .submit_bar {
  text-align: right;
}
#add_comment_form .file_field {
  float: left;
}
#creator {
  color: #666;
}
#primary_col {
  float: left;
  padding: 25px 20px;
  width: 470px;
}
#primary_col form {
  display: none;
}
#primary_col h1 {
  line-height: 34px;
  margin-bottom: 10px;
}
#secondary_col {
  float: right;
  padding: 0;
  width: 190px;
}
#secondary_col h3 {
  float: left;
  font-size: 12px;
  margin-bottom: 0;
}
#secondary_col > ul > li {
  border-bottom: 1px solid #eee;
  padding: 10px 8px 0;
}
#secondary_col li {
  text-align: right;
}
#secondary_col li .info_row {
  margin-bottom: 8px;
}
#secondary_col li form {
  clear: both;
  display: block;
  text-align: left;
}
#secondary_col li input,
#secondary_col li select {
  margin: 0 0 4px;
}
#secondary_col li.primary_button_row {
  padding-bottom: 10px;
  text-align: center;
}
#secondary_col li .empty {
  
}
#secondary_col select {
  width: 170px;
}
#secondary_col > ul {
  border-left: 3px double #ddd;
}
#secondary_col .blank_link {
  background: #f3f3f3;
  color: #aaa;
  display: block;
  margin: -10px -8px -8px;
  padding: 10px 8px 8px;
  text-align: left;
  text-transform: uppercase;
}
#secondary_col #utility_menu li {
  padding: 0 0 8px;
  text-align: left;
}
#task_description {
  margin-bottom: 10px;
}
#task_description,
#task_description_container {
  font-size: 14px;
  line-height: 18px;
}
#task_description {
  height: 250px;
  margin-bottom: 10px;
  width: 482px;
}
#task_description_container form {
  font-size: 12px;
}
.divider {
  background: #ccc;
  height: 1px;
  margin: 15px 0;
  width: 40px;
}
#task_description_container .empty {
  background: #eee;
  border: 1px dotted #e3e3e3;
  height: 5em;
}
#task_header {
  margin-bottom: 10px;
}
#task_main {
  background-image: url(../../images/task-main-bkgd.gif);
  background-position: right top;
  background-repeat: repeat-y;
  border-left: 3px double #ddd;
  border-right: 3px double #ddd;
  border-top: 1px solid #ccc;
}
#task_news {
  border-bottom: 1px solid #ccc;
  border-left: 3px double #ddd;
  border-right: 3px double #ddd;
  border-top: 1px solid #ddd;
  padding: 20px;
}
#task_news h2 {
  font-size: 16px;
  margin-bottom: 1em;
}