.add_link {
  float: right;
}
#content h1, #content h1 input[type="text"] {
  font-size: 32px;
  margin-bottom: 0;
}
#content h1 input[type="text"] {
  font-weight: bold;
  padding: 6px 6px 4px;
  width: 553px;
}
h2 {
  color: #444;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
}
#subtasks h2 {
  padding: 6px 0 20px;
}
#cc select,
#cc .adding .add_link {
  display: none;
}
#cc .adding select {
  display: block;
}
.edit_task input {
  display: none;
}
.edit_task.editing input {
  display: block;
}
.task_field h2 {
  text-transform: uppercase;
}
.taskedit strong {
  color: #222;
}
.taskedit .date {
  color: #898989;
  float: left;
  width: 125px;
}
.taskedit .text {
  font-style: italic;
}
#breadcrumbs {
  border-top: 3px double #ddd;
  line-height: 30px;
  margin-bottom: 30px;
  padding: 0 5px;
}
#cc {
  background: white;
  border-bottom: 1px solid #eee;
  padding-top: 6px;
}
#cc #add_subscriptions {
  float: right;
}
/* Default overrides */
#cc_list {
  display: block;
  margin-left: 125px;
}
#cc #cc_list .cc {
  margin: 0 5px 5px 0;
  white-space: nowrap;
}
#cc #cc_list .remove_link {
  color: #036;
  cursor: pointer;
  font-size: 9px;
}
#comments {
  line-height: 140%;
}
.comment .delete_link {
  color: #999;
  font-size: 10px;
}
.comment .date {
  color: #898989;
  margin-bottom: 5px;
}
.comment .meta {
  float: left;
  width: 125px;
}
.comment .text {
  margin-left: 125px;
}
.comment .text img {
  background: #eee;
  display: block;
  margin: 10px 0;
  padding: 9px;
}
#change_task_dialog,
#confirm_completion {
  background: white;
  border: 1px solid #999;
  padding: 30px;
}
.simplemodal-container fieldset {
  border: none;
  margin-bottom: 10px;
  padding: 0;
}
.simplemodal-container textarea {
  margin: 5px 0 10px;
  width: 424px;
}
#comments {
  background: white;
}
#confirm_completion h2 {
  font-size: 20px;
  margin-bottom: 1em;
}
#confirm_completion legend {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}
#confirm_completion label span {
  color: #999;
}
#content {
  padding-left: 0;
  padding-right: 0;
}
#description textarea {
  background: #fff;
  border: 1px solid #ccc;
  height: 12em;
  width: 553px;
}
#deferred_task_message {
  background-color: #eee;
  background-image: url(../../images/icons/deferred.png);
  background-position: 12px 50%;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  line-height: 40px;
  margin-bottom: 20px;
  padding: 0 10px 0 33px;
}
#deferred_task_message .button-to {
  float: right;
  margin-left: 5px;
}
#description #task_submit {
  margin-top: 10px;
}
#primary_action {
  float: right;
}
#secondary_fields li:first-child {
  border-left: none;
}
#task {
  background-image: url("../../images/task-background.gif");
  margin: 0 0 30px 110px;
}
#task_info {
  background: white;
  border: 1px solid #d3d3d3;
  margin-bottom: 40px;
}
#task_info h1 {
  margin-bottom: 5px;
}
#task_logistics_bar {
  border-top: 1px solid #e3e3e3;  
  margin: 0 16px;
  padding: 12px 0 10px;
}
#task_logistics_bar .call_to_action {
  float: right;
}
#task_logistics h3 {
  color: #999;
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 4px;
  text-transform: uppercase;
}
#task_logistics li {
  float: left;
  padding-right: 20px;
}
#task_meta {
  color: #888;
  margin-bottom: 20px;
}
#task_primary_info {
  padding: 22px 16px 30px;  
}
#content {
  border-bottom: 1px solid #eee;
  padding: 40px 40px 60px;
  width: 720px;
}
#following {
  margin-bottom: 11px;
}
#following label {
  color: #666;
  float: left;
}
#narrow_col {
  float: left;
  width: 100px;
}
#status {
  color: white;
  font-size: 11px;
  padding: 5px 0 3px;
  text-align: center;
  text-transform: uppercase;
  -moz-border-radius: 3px;
}
#status.completed {
  background: #447d1d;
}
#status.parked {
  background: #b35e03;
}
#status.prioritized {
  background: #1a6da9;
}
#subtasks {
  background: white;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 12px 16px;
}
#subtasks img,
#subtasks input {
  float: left;
  margin: 0 6px 0 0;
}
#subtasks form {
  display: inline;
}
#subtasks li {
  line-height: 18px;
  margin-bottom: 8px;
}
#subtasks .add_link {
  margin-top: 6px;
}
#task_identifier {
  background: #eee;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px 0 4px;
  text-align: center;
}
#task_identifier hr {
  background-color: #ccc;
  border: none;
  height: 1px;
  margin-bottom: 8px;
  margin-top: 0;
  width: 40px;
}
#task_identifier .num {
  font-size: 30px;
  font-weight: bold;
}
#task_identifier .type {
  font-size: 9px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
#task_identifier .pound {
  font-size: 16px;
  font-weight: normal;
  margin-right: 2px;
  vertical-align: middle;
}
#task_links {
  padding-top: 20px;
}
#task_title form {
  font-size: 13px;
  font-weight: normal;
}