h1 {
  font-size: 32px;
  margin-bottom: 0;
}
h1 span, h2 {
  display: block;
  color: #999;
  font-size: 13px;
  font-weight: normal;
}
h1 span {
  margin: 2px 0 6px;
}
h1, #description, #secondary_fields li {
  padding: 10px;
}
h1.task_field {
  padding-bottom: 40px;
}
h2 {
  margin-bottom: 5px;
}
.date {
  color: #aaa;
  font-weight: bold;
}
.task_field, #comments {
  border: 1px solid #ddd;
}
#comments {
  line-height: 140%;
  padding: 10px;
}
#comments textarea {
  font-size: 13px;
  height: 4em;
  vertical-align: bottom;
  width: 400px;
}
#comments_list li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#comments_list .meta {
  float: left;
  width: 120px;
}
#comments_list .text {
  margin-left: 200px;
}
#content {
  padding-left: 0;
  padding-right: 0;
}
#description, #secondary_fields {
  border-top: none;
}
#primary_action {
  float: right;
}
#secondary_fields {
  margin-bottom: 1px;
}
#secondary_fields li {
  border-left: 1px solid #ddd;
  float: left;
  height: 32px;
  width: 98px;
}
#secondary_fields li:first-child {
  border-left: none;
}
#task {
  background: white;
  margin-bottom: 30px;
}
#content {
  background-image: url("../../images/task-background.gif");
  border-bottom: 1px solid #eee;
  padding: 80px 100px 100px;
  width: 600px;
}