table.project_list .modify_links {
  color: #888;
  font-weight: normal;
}
table.project_list .modify_links a {
  color: #888;
}
table.project_list .project_category {
  color: #888;
  font-weight: normal;
}
table.project_list .project_category div {
  display: inline;
}

#inactive_initiatives {
  background: white;
  padding: 20px;
}
#inactive_initiatives h2 {
  line-height: 13px;
  margin-bottom: .5em;
}
#inactive_initiatives li {
  border-bottom: 1px solid #ddd;
  padding: 11px 0 9px;
}
#inactive_initiatives .add {
  float: right;
}
