h1 .create_link {
  background-color: #ccd6e0;
  background-image: url(../../images/create-initiative.gif);
  background-position: 6px 5px;
  background-repeat: no-repeat;
  border: 1px solid #99adc2;
  color: #335c85;
  float: right;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 8px 5px 23px;
  -moz-border-radius: 5px;
}
table.project_list .action_links {
  color: #888;
  font-weight: normal;
  text-align: right;
}
table.project_list .action_links a {
  color: #888;
}
table.project_list .project_category {
  color: #888;
  font-weight: normal;
}
table.project_list .project_category div {
  display: inline;
}
table.project_list td.action_links {
  width: 100px;
}
table.project_list td.due_date {
  width: 80px;
}
table.project_list td.name {
  width: 415px;
}
table.project_list td.phase {
  width: 100px;
}
table.project_list td.position {
  color: gray;
  font-weight: bold;
  text-align: center;
  width: 15px;
}
#inactive_initiatives {
  background: white;
  padding: 20px;
}
#inactive_initiatives h2 {
  line-height: 13px;
  margin-bottom: .5em;
}
#inactive_initiatives li {
  background: #ddd;
  border-bottom: 1px solid #fff;
  padding: 11px 5px 9px 10px;
}
#inactive_initiatives div {
  float: right;
}
#inactive_initiatives div a {
  color: #666;
}
