#content h1 {
  padding-bottom: 30px !important;
}
#project_fields {
  color: #666;
  font-size: 11px;
  font-weight: normal;
  margin-top: 1em;
}
#project_fields .divider {
  color: #ccc;
  padding: 0 4px;
}
#project_footer {
  background-image: url(../../images/task-list-header-bkgd.gif);
  border-top: 1px solid #eee;
  margin: 20px 0 0;
  padding: 12px 20px 10px;
}
#project_footer .other_links {
  float: right;
}
#project_mission {
  margin-bottom: .5em;
}
.days_left {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
}
