#project_fields {
  float: right;
  font-size: 13px;
  font-weight: normal;
}
#project_fields li {
  float: right;
  margin-left: 30px;
  text-align: right;
}
#project_fields div {
  margin-top: 5px;
}
#project_fields span {
  color: #666;
}
#project_footer {
  background: #eee;
  border-top: 2px solid #ddd;
  margin: 60px 20px 0;
  padding: 10px;
  width: 740px;
}
#project_footer a {
  float: right;
}