.wysiwyg {
  margin-bottom: 10px;
}
#spec_body {
  height: 500px;
  margin-bottom: 10px;
  width: 750px;
}
#spec_form {
  margin: 0 auto;
  padding: 30px 0;
  width: 760px;
}
body {
  font-family: Helvetica;
}
