.wysiwyg {
  margin-bottom: 10px;
}
#project_description {
  height: 500px;
  margin-bottom: 10px;
  width: 750px;
}
#saving {
  color: #999;
  line-height: 19px;
  text-align: right;
}
body {
  font-family: Helvetica;
}
