a img {
  border: none;
}
a:active, a:focus {
  outline: none;
}
body, form {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  padding: 0;
}
input[type=checkbox] {
  margin: 0;
  vertical-align: middle;
}
p {
  margin: 0 0 1em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0pt;
  line-height: 0pt;
  visibility: hidden;
}
html[xmlns] .clearfix {
  display:block;
}
* html .clearfix {
  height:1%;
}