a, a:visited {
  color: #04a;
}
a {
  text-decoration: none;
}
body, input[type=text], textarea {
  color: #333;
  font-family: Helvetica, Verdana, Tahoma, sans-serif;
}
body {
  background-image: url(../images/layout/wood-7.jpg);
  font-size: 12px;
  position: relative;
}
h1 {
  margin-bottom: 2em;
}
input[type=text], textarea {
  border: 1px solid #aaa;
  font-size: 13px;
  padding: 6px 4px;
}
.errorExplanation {
  background: #fcc;
  border-bottom: 1px solid #a88;
  margin-bottom: 20px;
  padding: 15px 10px 5px;
}
.errorExplanation h2 {
  display: none;
}
.errorExplanation p {
  font-weight: bold;
}
.errorExplanation ul {
  list-style-type: square;
  margin: 0 0 1em 20px;
}
.sf-menu ul {
  background: #eee;
  border: 1px solid #aaa;
  border-width: 0 1px 1px 0;
  line-height: 25px;
  position: absolute;
  min-width: 140px;
}
.sf-menu a {
  display: block;
  padding: 0 10px;
}
.sf-menu>li {
  float: left;
  width: 120px;
}
.sf-menu>li>a {
  padding: 11px 10px 9px;
}
.sf-menu ul {
  z-index: 9999;
}
.sf-sub-indicator {
  background-image: url(../images/arrow.gif);
  background-position: right top;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 14px;
  right: 10px;
  text-indent: -9999px;
  width: 12px;
}
a.hover .sf-sub-indicator {
  background-position: left top;
}
.sf-with-ul {
  position: relative;
}
.sfHover ul a:hover {
  background: #3959ab;
  color: white;
}
.shadow {
  -moz-box-shadow: 0 0 2px #333;
  -webkit-box-shadow: 0 0 2px #333;
}
#add_button img {
  margin: 5px 5px 0 0;
}
#add_links {
  float: right;
}
#add_links li {
  position: relative;
}
#add_links ul {
  right: 0;
}
#container {
  position: relative;
  margin: 0 auto;
  width: 800px;
}
#content {
  padding: 30px 20px;
}
#paper_bkgd {
  background: white;
  margin-bottom: 60px;
}
#filters {
  float: left;
}
#filters>li>a {
  color: white;
  font-weight: bold;
}
#filters>li>a.hover {
  background: white;
  color: #3959ab;
}
#flash_container {
  padding: 0 20px;
}
#flash_container .notice {
  background: #fcee21;
  color: #333;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 16px 20px 12px;
}
#footer {
  background: #bbb;
  border-top: 1px dotted #e0e0e0;
  color: #666;
  margin: 50px 0 0;
  line-height: 60px;
  padding: 0 10px;
  text-align: right;
  font-family: "Gill Sans";
  letter-spacing: 0.2em;
  
}
#footer #slogan {
  float: left;
}
#header {
  background-color: #3959ab;
  padding: 20px 20px 0;
}
#header #logo {
  display: block;
  float: left;
  height: 25px;
  overflow: hidden;
  text-indent: -9999px;  
  width: 170px;
}
#header #search_and_logo {
  margin-bottom: 20px;
  text-align: right;
}
#header h1 {
  float: left;
  margin-bottom: 0;
}
#header_container {
  background: #b7c3e7;
/*  border: 1px solid #b7c3e7;*/
  border: 1px solid #3959ab;
  border-width: 0 4px 4px;  
  margin-bottom: 20px;
  padding: 0 1px 1px;
}
#nav h3 {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 0 10px;
}
#nav #add_task_link {
  color: white;
  float: right;
  font-weight: bold;
  margin-top: 10px;
}
#nav #filters>li {
  border-left: 1px solid #b7c3e7;
}
#nav li.divider {
  background: #ccc;
  height: 1px;
  margin: 5px 0;
}
#nav #add_button {
  float: right;
}
#notifications {
  float: left;
}
#notifications li {
  float: left;
  text-align: center;
}
#notifications a {
  border-right: 1px solid #012;
  color: white;
  display: block;
  padding-bottom: 9px;
  padding-top: 11px;
  width: 39px;
}
#search label {
  color: white;
}
#search input[type=image] {
  vertical-align: top;
}
#search input[type=text] {
  background: #7289ce;
  border: 1px solid #b7c3e7;
  color: white;
  margin-left: 8px;
  width: 220px;
}
