a, a:visited {
  color: #036;
}
a {
  text-decoration: none;
}
body, input[type=text], textarea {
  color: #333;
  font-family: Helvetica, Verdana, Tahoma, sans-serif;
}
body {
  background-color: #012;
  font-size: 12px;
  margin: 20px auto;
  padding: 0;
  width: 800px;
}
h1 {
  margin-bottom: 2em;
}
input[type=text], textarea {
  border: 1px solid #aaa;
  font-size: 13px;
  padding: 6px 4px;
}
.errorExplanation {
  background: #fcc;
  border-bottom: 1px solid #a88;
  margin-bottom: 20px;
  padding: 15px 10px 5px;
}
.errorExplanation h2 {
  display: none;
}
.errorExplanation p {
  font-weight: bold;
}
.errorExplanation ul {
  list-style-type: square;
  margin: 0 0 1em 20px;
}
.sf-menu ul {
  background: #ddd;
  border: 1px solid #aaa;
  border-width: 0 1px 1px 0;
  line-height: 25px;
  position: absolute;
  min-width: 140px;
}
.notice {
  background: #060;
  color: white;
  line-height: 40px;
  margin: 0;
  padding: 0 20px;
}
.sf-menu a {
  display: block;
  padding: 0 10px;
}
.sf-menu>li {
  border-right: 1px solid #012;
  float: left;
  width: 120px;
}
.sf-menu>li>a {
  padding: 11px 10px 9px;
}
.sf-menu ul {
  z-index: 9999;
}
.sf-sub-indicator {
  background-image: url(../images/arrow.gif);
  background-position: right top;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 14px;
  right: 10px;
  text-indent: -9999px;
  width: 15px;
}
.sf-with-ul {
  position: relative;
}
.sfHover ul a:hover {
  background: #3c4650;
  color: white;
}
#add_button img {
  margin: 5px 5px 0 0;
}
#add_links {
  float: right;
}
#add_links li {
  position: relative;
}
#add_links ul {
  right: 0;
}
#container {
  background: #fff;
  position: relative;
}
#content {
  padding: 20px;
}
#filters {
  float: left;
}
#filters>li>a {
  background-image: url(../images/nav-bkgd.gif);
  color: #ccc;
  font-weight: bold;
}
#filters>li>a:hover {
  background-image: url(../images/nav-bkgd-hover.gif);  
}
#footer {
  border: 1px solid #33414e;
  color: #33414e;
  margin: 20px 0 30px;
  padding: 9px 10px 10px;
  text-align: right;
}
#footer #slogan {
  float: left;
  font-family: "Gill Sans";
  letter-spacing: 0.2em;
}
#globe {
  background-image: url(../images/globe.gif);
  height: 124px;
  left: -132px;
  position: absolute;
  top: 0;
  width: 122px;
}
#header {
  background: #012;
  padding-bottom: 15px;
  text-align: right;
}
#header a {
  display: block;
  float: left;
  height: 23px;
  overflow: hidden;
  text-indent: -9999px;  
  width: 200px;
}
#header h1 {
  float: left;
  margin-bottom: 0;
}
#nav {
  background: #3c4650;
  border-bottom: 1px solid #012;
  font-family: Helvetica;
}
#nav h3 {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 0 10px;
}
#nav li.divider {
  background: #ccc;
  height: 1px;
  margin: 5px 0;
}
#nav #add_button {
  float: right;
}
#nav #filters>li>a {
  color: white;
}
#notifications {
  float: left;
}
#notifications li {
  float: left;
  text-align: center;
}
#notifications a {
  border-right: 1px solid #012;
  color: white;
  display: block;
  padding-bottom: 9px;
  padding-top: 11px;
  width: 39px;
}
#search label {
  color: white;
}
#search input[type=text] {
  background: #33414e;
  border: 1px solid #666;
  color: white;
  margin-left: 8px;
  padding: 4px;
}