a {
  text-decoration: none;
}
a:visited {
  color: #00c;
}
body {
  background: #f2f2f2;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 11px;
  width: 800px;
}
h1 {
  padding: 1.5em 20px 10px;
}
#add_links {
  float: right;
}
#add_links a {
  margin-right: 15px;
}
#container {
  background: #fff;
}
#content {
  padding: 20px;
}
#global_nav {
  padding: 10px 20px;
}
#header {
  background: #ddd;
  border: 1px solid #fff;
  font-size: 12px;
}
#nav {
  border-top: 1px solid #fff;
}
#nav {
  line-height: 30px;
}
#filters a {
  border-right: 1px solid #fff;
  display: block;
  float: left;
  text-align: center;
  width: 100px;
}
