<%= stylesheet_link_tag "shared/result_set" %>

<% @title = "Recently Created Tasks" %>

<div id="results_count">
  You have created <%= pluralize(@tasks.size, "task") %>:</div>
<%= render :partial => '/shared/result_set',
           :locals => {:results => @tasks} %>
