.assignee {
  float: right;
}
#content {
  margin: 0 auto;
  width: 510px;
}
#content textarea {
  display: block;
  height: 100px;
  margin-top: .5em;
  width: 500px;
}
#task_description_fields li {
  padding-bottom: 1em;
}