<div id="project_footer">
  <div class="other_links">
    <%= link_to "Edit Initiative", edit_project_url(@project) %>
  </div>
  <% if @project.active? %>
    Initiative Status: <strong>Prioritized</strong>
    (<%= link_to "Park",
      set_inactive_project_path(@project), :method => :put %>)
  <% else %>
    Initiative Status: <strong>Parked</strong>
    (<%= link_to "Prioritize",
      set_active_project_path(@project), :method => :put %>)
  <% end %>
</div>
