<%= stylesheet_link_tag "projects/nav" %>
<ul class="clearfix" id="project_nav">
  <%
    [
      ["Tasks", project_path(@project)],
      ["Spec",  project_spec_path(@project, @project.spec.id)]
    ].each do |name, path|
  %>
    <li<%= ' class="current"' if current_page?(path) %>>
      <%= link_to name, path %>
    </li>
  <% end %>
</ul>
