<h1>Editing projects</h1>

<% form_for(@projects) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @projects %> |
<%= link_to 'Back', projects_path %>
