<h1>Create an Initiative</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>
  <p>
    <label for="project_title">Title:</label><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Create Initiative" %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>
