.tag {
  font-weight: normal;
  margin-left: 4px;
}
#content {
  line-height: 140%;
}
#empty_results_message {
  color: #999;
  font-size: 19px;
  padding: 6em 0;
  text-align: center;
}
#results_count {
  margin-bottom: 2em;
}
#results_list li {
  border-top: 1px solid #ddd;
  margin-top: 12px;
  padding-top: 15px;
}
#results_list li:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
#results_list .core_info {
  float: left;
  width: 400px;
}
#results_list .initiative .core_info {
  font-size: 16px;
}
#results_list .initiative .category {
  color: #888;
  font-weight: normal;
}
#results_list .description {
  margin: 0 0 10px;
}
#results_list .meta {
  float: right;
  color: gray;
  font-size: 10px;
  text-transform: uppercase;
  width: 200px;
}
#results_list .task_id {
  float: left;
  text-align: right;
  padding-right: 10px;
  width: 50px;
}
#results_list .title {
  font-weight: bold;
}
#results_list .search_highlight_0 {
  background-color: #FFF8CC;
  border-bottom: 1px solid #FFE222;
}
#results_list .search_highlight_1 {
  background-color: #CCFFF8;
  border-bottom: 1px solid #22FFE2;
}
#results_list .search_highlight_2 {
  background-color: #F8CCFF;
  border-bottom: 1px solid #E222FF;
}
#results_list .search_highlight_3 {
  background-color: #00F8CC;
  border-bottom: 1px solid #00E222;
}
#results_list .search_highlight_4 {
  background-color: #FF00CC;
  border-bottom: 1px solid #FF0022;
}
#results_list .search_highlight_5 {
  background-color: #FFF800;
  border-bottom: 1px solid #FFE200;
}
