#content h1 {
  background-image: url(../../images/task-list-header-bkgd.gif);
  background: white;
  margin: 0;
  padding: 30px 20px;
}
#search form input {
  margin: 0;
}
#search form input[type=text] {
  height: 15px;
  padding: 6px 5px 5px;
}
#tabs {
  background-image: url(../../images/tab-bkgd.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
  margin: 0 20px 20px;
  padding-left: 10px;
}
#tabs a {
  background-image: url(../../images/task-list-header-bkgd.gif);
  border: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  color: #777;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: bold;
  margin-right: 5px;
  padding: 9px 12px 7px;
}
#tabs a.current {
  border: 1px solid #ccc;
  border-bottom: 1px solid white;
  background: #fff;
  color: #333;
}
#tabs a:hover {
  background: #3059ab;
  color: white;
}
#tabs .secondary {
  float: right;
}
#tabs .secondary a {
  margin-right: 0;
}
