#content h1 {
  background-image: url(../../images/task-list-header-bkgd.gif);
  background: white;
  margin: 0;
  padding: 25px 20px 40px;
}
#tabs {
  background: white;
  border-bottom: 1px solid #666;
  margin: 0 20px;
}
#tabs a {
  background: #ddd;
  color: #777;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  margin-right: 4px;
  padding: 0 12px;
}
#tabs a.current {
  background: #666;
  color: white;
}
#tabs a:hover {
  background: #3059ab;
  color: white;
}
#tabs .secondary {
  float: right;
}
#tabs .secondary a {
  margin-right: 0;
}
