.simplemodal-container {
  background: white;
  -moz-box-shadow: 0 0 2px #333;
}
.simplemodal-container h2 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin: .5em 0;
}
.simplemodal-container .submit {
  margin-top: 24px;
  padding-top: 12px;
  text-align: right;
}
.simplemodal-overlay {
  background-color: #aaa;
}
