.simplemodal-container {
  background: white;
  width: 500px;
  -moz-box-shadow: 0 0 2px #333;
}
.simplemodal-container h2 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 1em;
}
.simplemodal-container .submit {
  text-align: right;
}
.simplemodal-overlay {
  background-color: #aaa;
}
