h2 {
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 29px;
  margin-bottom: 0;
  text-align: left;
}
table.task_list {
  border-collapse: collapse;
  margin: 0 0 20px;
  table-layout: fixed;
  white-space: nowrap;
  width: 760px;
}
table.task_list tbody {
  border-top: 1px solid #e9f1f5;
}
table.task_list tbody td {
  background: white;
  border-bottom: 1px solid #efefef;
}
table.task_list td {
  cursor: move;
  padding: 9px 5px 7px;
  white-space: nowrap;
}
table.task_list .drag_handle {
  text-align: center;
  padding: 0;
  width: 31px;
}
table.task_list .task_bug_indicator {
  width: 20px;
  overflow: hidden;
  background-image: url("../../images/bug_sm.png");
  background-repeat: no-repeat;
  background-position: 0px 11px;
}
table.task_list .task_assignee{
  width: 75px;
}
table.task_list td.task_assignee a,
table.task_list td.task_project a {
  color: #40678d;
}
table.task_list .task_due,
table.task_list .task_estimate {
  width: 60px;
}
table.task_list .task_menu {
  padding: 0;
  width: 30px;
}
table.task_list .task_project {
  width: 150px;
}
table.task_list .task_type {
  padding: 0;
  width: 24px;
}
table.task_list .task_type img {
  display: block;
  margin-top: 1px;
}
table.task_list td.task_name {
  overflow: hidden;
  padding-left: 0;
}
table.task_list td.task_assignee,
table.task_list td.task_estimate,
table.task_list td.task_due,
table.task_list td.task_project {
  color: #aaa;
}
table.task_list td a {
  cursor: pointer;
}
table.task_list th {
  line-height: 29px;
  text-align: left;
}
table.task_list tfoot a {
  color: #40678d;
  font-weight: normal;
}
table.task_list th {

}
table.task_list .quick_add_form,
table.task_list .editing .quick_add_link {
  display: none;
}
table.task_list .quick_add_form input[type=text] {
  font-size: 13px;
  padding: 3px;
  width: 300px;
}
table.task_list .quick_add_link {
  font-size: 11px;
}
table.task_list .editing .quick_add_form {
  display: block;
  font-weight: normal;
  margin-top: 10px;
}
table.unsortable td {
  cursor: default;
}
.quick_add_items li {
  background-color: #678;
  background-image: url("../../images/quick-add-x.gif");
  background-position: right 2px;
  background-repeat: no-repeat;
  border: 1px solid #8592a0;
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 9px;
  line-height: 9px;
  margin: 4px 5px 0 0;
  padding: 6px 25px 4px 8px;
  text-transform: uppercase;
  -moz-border-radius: 2px;
}
table.task_list input[type=text] {
  padding: 1px;
  width: 50px;
}
table.prioritized .deliverable .empty.task_assignee,
table.prioritized .deliverable .empty.task_estimate {
  background: #fcc;
  border-bottom: 1px solid #b77;
}
.editable {
  height: 13px;
}
.inlineError {
  color: red;
  font-weight: bold;
}
.tags {
  display: inline;
}
.tags span {
  background-color: #678;
  border-style: solid;
  border-width: 1px;
  font-size: 9px;
  line-height: 9px;
  margin-left: 4px;
  padding: 3px 5px 0;
  text-transform: uppercase;
  -moz-border-radius: 2px;
}
.tags .bug {
  background: #fcc;
  border-color: #e0a3a3;
  color: #600;
}
.tags .design {
  background: #ffe6cc;
  border-color: #e0c2a3;
  color: #b36212;
}
.tags .experiment {
  background: #fcf;
  border-color: #d6add6;
  color: #593380;
}
.tags .feature {
  background: #cce5ff;
  border-color: #a3c2e0;
  color: #039;
}
.tags .spec {
  background: #e5d896;
  border-color: #aca271;
  color: #402e0a;
}
.tags .stats {
  background: #cfc;
  border-color: #add6ad;
  color: #124d12;
}
.task_links {
  background: white;
  color: #aaa;
  font-size: 11px;
  line-height: 14px;
  padding: 0 5px;
  position: absolute;
  right: 15px;
  z-index: 10000;
}
.task_links a {
  color: #40678d;
}
.task_menu_container {
  position: relative;
}
.task_menu_container .menu_arrow {
  background-image: url(../../images/task-dropdown.gif);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  overflow: hidden;
  text-indent: -9999px;
  width: 20px;
}
.task_menu_container.active .menu_arrow {
  background-image: url(../../images/task-dropdown-active.gif);
}
.task_menu_container.active .task_menu_items {
  display: block;
}
.task_menu_container .task_menu_items {
  background: #ddd;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  display: none;
  position: absolute;
  z-index: 10000;
}
.task_menu_container .task_menu_items a {
  display: block;
  padding: 6px 5px;
}
.task_menu_container .task_menu_items a:hover {
  background: #3c4650;
  color: white;
}
.task_menu_container .task_menu_items li {
  width: 200px;
}
#content {
  background: #ced8e2;
  padding: 0;
}
#task_list {
  padding: 30px 20px;
}
