h2 {
  color: #aaa;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 29px;
  margin-bottom: 0;
  text-align: left;
}
table.task_list {
  border-collapse: collapse;
  margin: 0 0 30px;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
}
table.task_list tbody {
  border-top: 1px solid #e9f1f5;
}
table.task_list tbody td {
  background: white;
  border-bottom: 1px solid #e9f1f5;
}
table.task_list td {
  cursor: move;
  padding: 9px 5px 7px;
  white-space: nowrap;
}
table.task_list .drag_handle {
  background-color: #f3f3f3;
  text-align: center;
  padding: 0;
  width: 31px;
}
table.task_list .task_assignee,
table.task_list .task_project {
  width: 75px;
}
table.task_list td.task_assignee a,
table.task_list td.task_project a {
  color: #40678d;
}
table.task_list .task_due {
  width: 60px;
}
table.task_list .task_estimate {
  text-align: right;
  width: 60px;
}
table.task_list td.task_name {
  overflow: hidden;
}
table.task_list td.task_assignee,
table.task_list td.task_estimate,
table.task_list td.task_due,
table.task_list td.task_project {
  color: #aaa;
}
table.task_list td a {
  cursor: pointer;
}
table.task_list th {
  line-height: 29px;
  text-align: left;
}
table.task_list tfoot a {
  color: #40678d;
  font-weight: normal;
}
table.task_list th {

}
table.task_list .quick_add_form,
table.task_list .editing .quick_add_link {
  display: none;
}
table.task_list .quick_add_form input[type=text] {
  font-size: 13px;
  padding: 3px;
  width: 300px;
}
table.task_list .quick_add_link {
  font-size: 11px;
}
table.task_list .editing .quick_add_form {
  display: block;
  font-weight: normal;
  margin-top: 10px;
}
table.unsortable td {
  cursor: default;
}
.quick_add_items li {
  background-color: #678;
  background-image: url("../../images/quick-add-x.gif");
  background-position: right 2px;
  background-repeat: no-repeat;
  border: 1px solid #8592a0;
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 9px;
  line-height: 9px;
  margin: 4px 5px 0 0;
  padding: 6px 25px 4px 8px;
  text-transform: uppercase;
  -moz-border-radius: 2px;
}
.tags {
  display: inline;
}
.tags span {
  background-color: #678;
  border: 1px solid #8592a0;
  color: white;
  font-size: 9px;
  line-height: 9px;
  margin-left: 4px;
  padding: 3px 5px 0;
  text-transform: uppercase;
  vertical-align: middle;
  -moz-border-radius: 2px;
}
.task_links {
  background: white;
  color: #aaa;
  float: right;
  font-size: 11px;
  margin-right: 20px;
}
.task_links a {
  color: #40678d;
}
