h2 {
  background-position: 11px 10px;
  background-repeat: no-repeat;
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 29px;
  margin-bottom: 0;
  text-align: left;
}
table.project_task_list td.task_name {
  width: 446px;
}

/* General list stylings. */
table.list {
  border-collapse: collapse;
  margin: 0 0 20px;
  table-layout: fixed;
  white-space: nowrap;
  width: 760px;
}
table.list tbody td {
  background: white;
  border-bottom: 1px solid #e1e1e1;
}
table.list td {
  cursor: move;
  padding: 9px 5px 7px;
  white-space: nowrap;
}

/* Task list specific stylings. */
table.task_list td.task_name.deferred_task .editable {
  background-image: url(../../images/icons/deferred.png);
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding: 2px 0 2px 23px;
}
table.task_list .editable+form {
  display: none;
}
table.task_list .drag_handle {
  background-image: url(../../images/drag-handle.gif);
  background-position: 2px top;
  background-repeat: no-repeat;
  text-align: right;
  padding: 0 7px 0 0;
  width: 25px;
}
table.task_list .drag_handle.completed {
  background-image: none;
}
table.task_list .task_assignee {
  width: 75px;
}
table.task_list .task_due,
table.task_list .task_estimate {
  width: 60px;
  text-align: right;
}
table.task_list tr.deadline_tomorrow td {
  background-color: #faf396;
  border-bottom: 1px solid #e1db87;
  color: #333;
}
table.task_list tr.deadline_today td {
  background-color: #fbc5bd;
  border-bottom: 1px solid #e1a49c;
  color: #333;
}
table.task_list .deadline_today .task_menu_container {
  font-weight: normal;
}
table.task_list .deadline_tomorrow .menu_arrow,
table.task_list .deadline_today .menu_arrow {
  background-image: url("../../images/task-dropdown-due-soon.png");
}
table.task_list .deadline_tomorrow .active .menu_arrow,
table.task_list .deadline_today .active .menu_arrow {
  background-image: url("../../images/task-dropdown-active.gif");
}
table.task_list .task_menu {
  padding: 0;
  width: 30px;
}
table.task_list .task_project {
  width: 150px;
}
table.task_list .task_type {
  padding: 0;
  width: 24px;
}
table.task_list .task_type img {
  display: block;
  margin-top: 1px;
}
table.task_list td.task_name,
table.task_list td.task_project {
  overflow: hidden;
}
table.task_list td.task_name {
  padding-left: 0;
}
table.task_list td.task_assignee,
table.task_list td.task_estimate,
table.task_list td.task_due,
table.task_list td.task_project {
  color: #aaa;
}
table.task_list td a {
  cursor: pointer;
}
table.task_list th {
  line-height: 29px;
  text-align: left;
}
table.task_list .quick_add_form,
table.task_list .editing .quick_add_link {
  display: none;
}
table.task_list .quick_add_form input[type=text] {
  font-size: 13px;
  padding: 3px;
  width: 300px;
}
table.task_list .quick_add_link {
  background-image: url(../../images/add-task.gif);
  background-position: left -1px;
  background-repeat: no-repeat;
  margin-left: 13px;
  padding-left: 18px;
}
table.task_list .editing .quick_add_form {
  display: block;
  font-weight: normal;
  margin-top: 10px;
}
table.unsortable td {
  cursor: default;
}
table.user_task_list td.task_name {
  width: 369px;
}
.quick_add_items li {
  background-color: #3059ab;
  background-image: url("../../images/quick-add-x.gif");
  background-position: right top;
  background-repeat: no-repeat;
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 9px;
  line-height: 9px;
  margin: 3px 5px 0 0;
  padding: 7px 32px 5px 8px;
  text-transform: uppercase;
}
table.task_list input[type=text] {
  padding: 1px;
  width: 50px;
}
table.task_list td.task_name input[type=text] {
  width: 325px;
}
table.task_list td.task_name .editable a {
  margin-right: 4px;
}
table.prioritized .deliverable .empty.task_assignee,
table.prioritized .deliverable .empty.task_estimate {
  background: #fcc;
  border-bottom: 1px solid #b77;
}
.editable {
  height: 13px;
}
.inlineError {
  color: red;
  font-weight: bold;
}
.shortcut {
  color: #888;
  float: right;
  padding: 6px 5px;
}
.tags {
  display: inline;
}
.tags span {
  background-color: white;
  border-color: #999;
  border-style: solid;
  border-width: 1px;
  color: #666;
  font-size: 9px;
  line-height: 9px;
  padding: 3px 5px 0;
  text-transform: uppercase;
}
.tags .bug {
  background: #fcc;
  border-color: #e0a3a3;
  color: #600;
}
.tags .design {
  background: #ffe6cc;
  border-color: #e0c2a3;
  color: #b36212;
}
.tags .experiment {
  background: #fcf;
  border-color: #d6add6;
  color: #593380;
}
.tags .feature {
  background: #cce5ff;
  border-color: #a3c2e0;
  color: #039;
}
.tags .spec {
  background: #e5d896;
  border-color: #aca271;
  color: #402e0a;
}
.tags .stats {
  background: #cfc;
  border-color: #add6ad;
  color: #124d12;
}
.task_links {
  background: white;
  color: #aaa;
  font-size: 11px;
  line-height: 14px;
  padding: 0 5px;
  position: absolute;
  right: 15px;
  z-index: 10000;
}
.task_links a {
  color: #40678d;
}
.task_menu_container {
  position: relative;
}
.task_menu_container .menu_arrow {
  background-image: url(../../images/task-dropdown.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  overflow: hidden;
  text-indent: -9999px;
  width: 20px;
}
.cursor .task_menu_container .menu_arrow {
  background-image: url(../../images/task-dropdown-cursor.gif);  
}
.task_menu_container.active .menu_arrow {
  background-image: url(../../images/task-dropdown-active.gif);
}
.task_menu_container.active .task_menu_items {
  display: block;
}
.task_menu_container .task_menu_items {
  background: #eee;
  border: 1px solid #898989;
  display: none;
  position: absolute;
  z-index: 10000;
}
.task_menu_container .task_menu_items a {
  color: #04a;
  display: block;
  padding: 6px 5px;
}
.task_menu_container .task_menu_items a:hover {
  background: #3059ab;
  color: white;
}
.task_menu_container .task_menu_items li {
  width: 200px;
}
#content {
  padding: 0;
}
#deferred_task_dialog li {
  line-height: 29px;
}
#deferred_task_dialog li input[type=radio] {
  margin-top: 0;
  vertical-align: middle;
}
#deferred_task_dialog .details,
#deferred_task_dialog .example {
  color: gray;
}
#deferred_task_dialog .example {
  font-size: 11px;
}
#task_list {
  padding: 0 20px 30px;
}
