<div class="initiative">
  <div class="task_id">&nbsp;</div>
  <div class="core_info">
    <div class="title">
      <%= link_to highlight_query(result.title), project_path(result) %>
      (<%= pluralize(result.tasks.size, 'task') %>)
      <span class="category">&mdash; <%= result.category.name %></span>
    </div>
    <% if !result.mission.blank? %>
      <div class="description">
        <%= highlight_query(result.mission.ellipsize(100)) %>
      </div>
    <% end %>
  </div>
</div>
