<ul id="results_list">
  <% results.each do |result| %>
    <li class="clearfix">
    <% result_partial = case result
      when Task: 'task_result'
      when Project: 'project_result'
      end
    %>
    <%= render :partial => result_partial,
               :locals => {:result => result} %>
    </li>
  <% end %>
</ul>
