<%= stylesheet_link_tag "shared/header" %>
<%= stylesheet_link_tag 'shared/task_list' %>

<% @title = "Bugs" %>

<div id="task_list">
  <%= render :partial => "/shared/task_list",
             :locals => {:tasks => @tasks} %>
</div>
