<div id="header">
  <div id="search_and_logo">
    <h1><%= link_to image_tag("layout/logo.gif"), "/", :id => "logo" %></h1>
    <div id="search">
      <% form_tag search_path, :method => :get do %>
        <%= text_field_tag :q, params[:q],
          :title => "Search Tasks & Projects" %><%= 
          image_submit_tag "layout/search.gif" %>
      <% end %>
    </div>
  </div>
  <%= render :partial => "/global/nav" %>
</div>

